{% extends "base.html" %}

{%load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
</head>

<body>
    <div style="width: 75%; margin: 0 auto;">
        <h2>1. ¿Qué Son las Cookies?</h2>
        <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio web. Se utilizan para recordar sus preferencias y mejorar su experiencia en línea.</p>

        <h2>2. Tipos de Cookies que Utilizamos</h2>
        <ul>
            <li><strong>Cookies Necesarias:</strong> Estas cookies son esenciales para el funcionamiento del sitio web y no se pueden desactivar en nuestros sistemas.</li>
            <li><strong>Cookies de Rendimiento:</strong> Nos ayudan a entender cómo los usuarios interactúan con nuestro sitio web, recopilando y reportando información de manera anónima.</li>
            <li><strong>Cookies Funcionales:</strong> Permiten que el sitio web brinde una funcionalidad mejorada y personalización.</li>
            <li><strong>Cookies de Publicidad:</strong> Utilizadas para presentar anuncios relevantes para los usuarios en función de sus intereses.</li>
        </ul>

        <h2>3. Cookies de Terceros</h2>
        <p>Utilizamos servicios de terceros como Google Analytics que pueden colocar cookies en su dispositivo para ayudarnos a analizar cómo se usa nuestro sitio web.</p>

        <h2>4. Cómo Gestionar y Eliminar Cookies</h2>
        <p>Puede gestionar y eliminar las cookies a través de la configuración de su navegador. Aquí hay enlaces a las páginas de soporte de los navegadores más comunes:</p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=es" target="_blank">Google Chrome</a></li>
            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias" target="_blank">Mozilla Firefox</a></li>
            <li><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a></li>
            <li><a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
        </ul>

        <h2>5. Consecuencias de Deshabilitar Cookies</h2>
        <p>Si deshabilita ciertas cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente.</p>
    </div>
</body>

  {% endblock %}