{% extends "base.html" %}

{%load static %}

{% block content %}


  <h1 style="color: navy;">Misión</h1>
  <p style="font-size: 20px;">Proveer atención médica integral y de alta calidad, centrada en el paciente, mediante un equipo de profesionales dedicados y el uso de tecnología avanzada, promoviendo la salud y el bienestar de la comunidad con un enfoque humanizado y accesible.</p>

  <h1 style="color: navy;">Visión</h1>
  <p style="font-size: 20px;">Ser reconocidos como el centro médico líder en la región por nuestra excelencia en servicios quirúrgicos y médicos, innovando constantemente en tratamientos y cuidados, y fomentando un ambiente de confianza y calidez para nuestros pacientes y sus familias.</p>
</div>

  {% endblock %}

 