{% extends "base.html" %}

{%load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad</title>
</head>

<body>
    <div style="width: 75%; margin: 0 auto;">
    <h1>Política de Privacidad</h1>
    <p>En Centro Médico Quirúrgico La Cascada, nos comprometemos a proteger la privacidad de nuestros usuarios. Esta política de privacidad describe cómo recopilamos, usamos y protegemos su información personal.</p>

    <h2>1. Información que Recopilamos</h2>
    <p>Recopilamos información personal que usted nos proporciona directamente, como su nombre, correo electrónico, y otra información que nos proporcione a través de formularios en nuestro sitio web.</p>

    <h2>2. Uso de la Información</h2>
    <p>Utilizamos la información recopilada para:</p>
    <ul>
        <li>Proveer y mejorar nuestros servicios.</li>
        <li>Comunicarnos con usted.</li>
        <li>Personalizar su experiencia en nuestro sitio web.</li>
    </ul>

    <h2>3. Compartir la Información</h2>
    <p>No compartimos su información personal con terceros, excepto cuando sea necesario para cumplir con la ley o proteger nuestros derechos.</p>

    <h2>4. Derechos del Usuario</h2>
    <p>Usted tiene derecho a acceder, rectificar o eliminar su información personal. Para ejercer estos derechos, por favor contáctenos a cmqlc@gmail.com</p>

    <h2>5. Seguridad</h2>
    <p>Implementamos medidas de seguridad técnicas y organizativas para proteger su información personal.</p>

    <h2>6. Uso de Cookies</h2>
    <p>Utilizamos cookies para mejorar su experiencia en nuestro sitio web. Puede gestionar las cookies a través de la configuración de su navegador.</p>

    <h2>7. Cambios en la Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página con una nueva fecha de vigencia.</p>

    <h2>8. Contacto</h2>
    <p>Si tiene alguna pregunta sobre esta política de privacidad, por favor contáctenos a cmqlc@gmail.com</p>

    <p>Fecha de vigencia: 21/06/2024</p>
    </div>
</body>

  {% endblock %}